In [4]:
import numpy as np
import pandas as pd

In [205]:
#Question 1
np.__version__

'1.21.5'

In [241]:
#Question 2
df = pd.read_csv('data.csv')
len(df)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [226]:
#Question 3
df_2=df.groupby('Make').count()
df_2=df_2.Model
df_2.sort_values(ascending=False)

Make
Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Bugatti             3
Genesis             3
Name: Model, dtype: int64

In [227]:
#Question 4

df_audi=df[
    (df.Make=='Audi')
]

df_audi.nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

In [228]:
#Question 5

df.isnull().describe()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
count,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914,11914
unique,1,1,1,2,2,2,1,1,2,2,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,11914,11914,11914,11911,11845,11884,11914,11914,11908,8172,11914,11914,11914,11914,11914,11914

In [243]:
#Question 6
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')
    
df

median=df.engine_cylinders.median()
median

mode=df.engine_cylinders.mode()
mode

df.engine_cylinders.fillna

median_2=df.engine_cylinders.median()
median_2

median==median_2

True

In [244]:
#Question 7

df_lotus=df[
    (df.make=='lotus')
]
df_lotus.head()

df_lotus_2=df_lotus[['engine_hp','engine_cylinders']]
df_lotus_2=df_lotus_2.drop_duplicates()
df_lotus_2.head()

x=np.array(df_lotus_2)
x

xt=np.transpose(x)
xt
xtx=xt.dot(x)
xtx

y=np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

xtx_inv = np.linalg.inv(xtx)
xtx_inv
h=x.dot(xtx_inv)
h
w=y.dot(h)
w

array([  4.59494481, -63.56432501])